* {
	box-sizing: border-box;
}

:root {
	--Primary-color-black-green: #143c3c;
	--Primary-color-black: #152427;
	--text-color-white: #fff;
	--text-color-black-gray: #575d5e;
	--Secondary-color-light-green: #e2eddf;
}

html,
body {
	scroll-behavior: smooth;
}

html {
	font-size: 62.5%;
}

/* =========== Common =========== */
.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: var(--line-clamp, 3);
	-webkit-box-orient: vertical;
	overflow: hidden;
}

a {
	text-decoration: none;
}

.container {
	width: 1140px;
	max-width: calc(100% - 48px);
	margin: 0 auto;
}

body {
	font-family: 'Poppins', sans-serif;
}

.btn {
	--width: 173px;
	--height: 57px;
	--radius: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: var(--width);
	height: var(--height);
	border-radius: var(--radius);
	border: 1px solid var(--Primary-color-black-green);
	background-color: var(--Primary-color-black-green);
	color: var(--text-color-white, #fff);
	font-family: 'Public Sans';
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 1.56;
	outline: none;
	transition: 0.5s ease;
}

.btn:hover {
	opacity: 0.8;
}

.section__title {
	--bottom: 20px;
	position: relative;
	display: inline-block;
	color: var(--Primary-color-black, #152427);
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.63;
	padding-left: 46px;
	margin-bottom: var(--bottom);
}

.section__title::before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 25px;
	height: 1px;
	background: var(--Primary-color-black, #152427);
	top: 7px;
	left: 0;
}

.section__heading {
	--width: 520px;
	--line: inline-block;
	--line-color: var(--Primary-color-black, #152427);
	--text-color: var(--Primary-color-black, #152427);
	position: relative;
	color: var(--text-color);
	width: var(--width);
	font-size: 4.2rem;
	font-weight: 600;
	line-height: 1.24;
}

.section__heading::after {
	content: '';
	position: absolute;
	display: var(--line);
	width: 66px;
	height: 2px;
	background: var(--line-color);
	bottom: 20px;
	margin-left: 20px;
}

.section__desc {
	--width: 478px;
	color: var(--text-color-light-gray, #7d8188);
	width: var(--width);
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.63;
}

.nav__wrap {
	display: flex;
	align-items: center;
	gap: 17px;
}

.nav__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	outline: none;
	border: none;
	background: var(--Secondary-color-light-green, #e2eddf);
	color: var(--Primary-color-black, #152427);
	cursor: pointer;
	transition: 0.25s ease;
}

.nav__btn:hover {
	color: var(--text-color-white, #fff);
	background-color: var(--Primary-color-black-green);
}

/* ============= Header ============== */
.header {
	position: sticky;
	top: -15px;
	font-family: 'Public Sans', sans-serif;
	z-index: 100;
	background-color: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(32px);
}

.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 28px 0 13px;
}

.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 52%;
}

.nav__list {
	display: flex;
	align-items: center;
	gap: 38px;
}

.nav__link {
	color: var(--text-color-black-gray, #575d5e);
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 1.56;
	transition: 0.25s ease;
}

.nav__link:hover {
	color: var(--Primary-color-black, #152427);
}

.nav__link--active {
	color: var(--Primary-color-black, #152427);
	position: relative;
}

.nav__link--active::after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 2px;
	background: var(--Primary-color-black-green, #143c3c);
	bottom: -33px;
	left: 2px;
}

.header__divider {
	width: 1140px;
	height: 1px;
	background: linear-gradient(
		90deg,
		#fff 0%,
		#dddcdc 51.09%,
		rgba(212, 212, 212, 0) 99.68%
	);
}

/* ============== Hero =============== */
.hero {
	display: flex;
	min-height: calc(100vh - 98px);
	align-items: center;
	font-family: 'Public Sans';
	position: relative;
}

.hero__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 28px 28px 28px 0;
}

.hero__content {
	width: 34%;
}

.hero__title {
	color: var(--Primary-color-black, #152427);
	font-size: 5rem;
	font-weight: 800;
	line-height: 1.2;
	max-width: 375px;
}

.hero__desc {
	margin-top: 20px;
	color: var(--text-color-black-gray, #575d5e);
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 1.56;
	max-width: 341px;
}

.hero-cta {
	margin-top: 42px;
	display: flex;
	align-items: center;
	gap: 43px;
}

.hero-cta__video {
	display: flex;
	align-items: center;
	gap: 15px;
}

.hero-cta__video-btn {
	position: relative;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	background: #83a17d;
	cursor: pointer;
}

.hero-cta__video-btn::before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 4px solid transparent;
	border-top: 4px solid var(--Primary-color-black-green);
	border-left: 4px solid var(--Primary-color-black-green);
	transform: rotate(-45deg);
	top: -7px;
	left: -7px;
	transition: 0.7s ease;
}

.hero-cta__video:hover .hero-cta__video-btn::before {
	transform: rotate(137deg);
}

.hero-cta__video-desc {
	color: #152427;
	font-family: Poppins;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.67;
	white-space: nowrap;
}

.hero__media {
	position: relative;
	padding-top: 32px;
	padding-bottom: 164px;
}

.hero__media::before {
	content: '';
	position: absolute;
	display: inline-block;
	background-image: url(../icon/flower.svg);
	background-repeat: no-repeat;
	width: 545px;
	height: 361.174px;
	top: 0px;
	left: -204px;
	background-size: contain;
	z-index: 2;
}

.hero__media::after {
	content: '';
	position: absolute;
	display: inline-block;
	background-image: url(../icon/flower.svg);
	background-repeat: no-repeat;
	transform: rotate(180deg);
	width: 545px;
	height: 361.174px;
	bottom: 0;
	right: 37px;
	background-size: contain;
	z-index: 2;
}

.hero__list-img {
	position: relative;
	display: flex;
	gap: 20px;
	align-items: flex-end;
	justify-content: center;
	animation: slideY 1.5s ease-in-out infinite alternate;
}

.hero__list-img::before {
	position: absolute;
	content: '';
	display: inline-block;
	width: 340px;
	height: 340px;
	border-radius: 340px;
	background: #4dbb9a;
	filter: blur(137px);
	z-index: -1;
}

.hero__img {
	width: 202px;
	height: 466px;
	border-radius: 110px;
	background-color: var(--Primary-color-black-green);
	object-fit: cover;
}

.hero__img:nth-of-type(2) {
	display: relative;
	transform: translateY(77px);
}

@keyframes slideY {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(10px);
	}
}

/* ============== Brand ================ */
.brand {
	margin-top: 45px;
}

.brand__inner {
	padding: 76px 121px;
	border-radius: 100.5px;
	background: var(--Secondary-color-light-green, #e2eddf);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* ========= Services ========= */
.service {
	margin-top: 106px;
}

.service__title {
	--bottom: 12px;
}

.service__row {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-right: 73px;
}

.service__list {
	margin-top: 76px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 16px;
}

.service-card {
	height: 477px;
	border-radius: 20px;
	transition: 0.5s ease;
	overflow: hidden;
}

.service-card__img--wrap {
	width: 370px;
	height: 318px;
	overflow: hidden;
}

.service-card__img {
	width: 370px;
	height: 318px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
	transition: 0.5s ease;
}

.service-card__content {
	padding: 23px 0;
	transition: 0.5s ease;
}

.service-content__title {
	color: var(--Primary-color-black, #152427);
	font-size: 2.2rem;
	font-weight: 600;
}

.service-content__desc {
	margin-top: 18px;
	color: var(--text-color-light-gray, #7d8188);
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.7;
	width: 268px;
}

.service-card:hover {
	box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-card:hover .service-card__content {
	padding-left: 18px;
	padding-right: 18px;
}

.service-card:hover .service-card__img {
	transform: scale(1.1);
}

/* =============== About ================== */
.about {
	margin-top: 149px;
}

.about__inner {
	display: flex;
	align-items: center;
	gap: 64px;
}

.about__media {
	position: relative;
	display: flex;
	gap: 21px;
}

.about__media::before {
	position: absolute;
	content: '';
	display: inline-block;
	width: 541.69px;
	height: 360.639px;
	transform: rotate(12.645deg);
	background-image: url('../icon/flower.svg');
	z-index: 2;
	top: 20px;
	left: 13px;
}

.about__img {
	margin-top: 13px;
	width: 284px;
	height: 480px;
	border-radius: 210px;
	box-shadow: 0 4px 234px 11px rgba(59, 137, 71, 0.25);
	object-fit: cover;
	animation: slideY 1.5s ease-in-out infinite alternate;
}

.about__img:first-of-type {
	margin-top: 90px;
}

.about-badge {
	z-index: 3;
	position: absolute;
	font-family: 'Public Sans', sans-serif;
	padding: 19px;
	width: 143px;
	height: 144px;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0 7px 54px 0 rgba(154, 154, 154, 0.25);
	bottom: 8px;
	right: -9px;
	animation: slideY 1.5s ease-in-out infinite alternate;
}

.about-badge__title {
	display: block;
	color: var(--Primary-color-black, #152427);
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.4;
}

.about-badge__subtitle {
	display: block;
	color: var(--text-color-black-gray, #575d5e);
	margin-top: 6px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
}

.about-badge__percent {
	display: block;
	margin-top: 10px;
	color: var(--Primary-color-black, #152427);
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.4;
}

.about-badge__progress {
	margin-top: 3px;
	width: 100%;
	height: 2px;
	position: relative;
	border-radius: 10px;
	background: #eaeaea;
}

.about-badge__progress::before {
	content: '';
	position: absolute;
	display: inline-block;
	width: 40%;
	height: 2px;
	border-radius: 10px;
	background-color: #83a17d;
	top: 0;
	left: 0;
}

.about-badge__loading {
	display: block;
	margin-top: 3px;
	color: var(--Primary-color-black, #152427);
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.4;
	text-align: right;
}

.about-badge__dot {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-top: 3px;
	width: 11px;
	height: 11px;
	border-radius: 11px;
	background: #eaeaea;
}

.about-badge__dot::before {
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	background: var(--Primary-color-black-green, #143c3c);
}

.about-badge__team {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 4px;
}

.about-team__title {
	color: var(--Primary-color-black, #152427);
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.4;
}

.badge-team__avatar-list {
	display: flex;
	align-items: center;
}

.badge-team__avatar {
	width: 16px;
	height: 16px;
	border-radius: 16px;
	border: 1px solid #fff;
	object-fit: cover;
}

.badge-team__avatar:not(.badge-team__avatar:first-child) {
	margin-right: -6px;
}

.about__heading {
	--line: none;
	--width: 483px;
}

.about__desc {
	margin-top: 11px;
}

.about-stas {
	display: flex;
	align-items: center;
	gap: 24px;
	position: relative;
	padding: 36px 0 20px;
	border-bottom: 1px solid #83a17d;
}

.about-stas__percent {
	color: var(--Primary-color-black, #152427);
	font-family: Poppins;
	font-size: 4.2rem;
	font-weight: 600;
	line-height: 1.24;
}

.about-stas__desc {
	color: var(--text-color-light-gray, #7d8188);
	font-family: Poppins;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.7;
}

/* ============= Process ================= */
.process {
	margin-top: 79px;
	padding-top: 36px;
}

.process__heading {
	--width: 477px;
}

.process-list {
	margin-top: 81px;
}

.process-item {
	background-color: transparent;
	position: relative;
	display: flex;
	align-items: center;
	gap: 50px;
	padding: 55px 41px 25px 20px;
	cursor: pointer;
}

.process-item::before {
	content: '';
	display: inline-block;
	position: absolute;
	height: 185px;
	width: 1140px;
	border-radius: 33px;
	background: var(--Secondary-color-light-green, #e2eddf);
	z-index: -1;
	left: 0;
	top: 0;
	opacity: 0;
}

.process-item::after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 1131px;
	height: 3px;
	background: linear-gradient(
		180deg,
		#83a17d 4.17%,
		rgba(131, 161, 125, 0) 36.46%
	);
	bottom: 0;
	opacity: 1;
}

.process-item:hover::before {
	opacity: 1;
}

.process-item:hover::after {
	opacity: 0;
}

.process-item:hover .process-item__title::before {
	transform: scale(1);
	opacity: 1;
}

.process-item:hover .process-item__img {
	transform: scale(1);
	opacity: 1;
}

.process-item:hover .process-item__desc {
	opacity: 0;
}

.process-item::before,
.process-item::after,
.process-item__title::before,
.process-item__img,
.process-item__desc {
	transition: all 0.6s ease;
}

.process-item__order {
	color: var(--Primary-color-black-green, #143c3c);
	font-size: 7.2rem;
	font-weight: 600;
	width: 110px;
	text-align: right;
}

.process-item__title {
	position: relative;
	color: var(--Primary-color-black, #152427);
	font-size: 2.2rem;
	font-weight: 600;
	width: 176px;
}

.process-item__title::before {
	content: 'Learn More';
	display: inline-block;
	position: absolute;
	text-decoration: underline #152427 solid;
	text-underline-offset: 3px;
	color: var(--text-color-black-gray, #575d5e);
	font-size: 1.8rem;
	font-weight: 400;
	left: 0;
	bottom: -40px;
	transform: scale(0);
	opacity: 0;
}

.process-item__desc {
	width: 572px;
	color: var(--text-color-light-gray, #7d8188);
	font-family: 'Public Sans';
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 1.56;
	margin-left: 125px;
	opacity: 1;
}

.process-item__img {
	position: absolute;
	width: 450px;
	max-height: 444px;
	max-width: 100%;
	object-fit: cover;
	object-position: top center;
	bottom: -20px;
	right: 92px;
	opacity: 0;
	transform: scale(0);
}

/* =========== Project ============= */
.project {
	margin-top: 148px;
	padding: 116px 0 63px;
	background: var(--Primary-color-black-green, #143c3c);
}

.project__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.project__heading {
	--width: 457px;
	--line-color: var(--Secondary-color-blue, #83a17d);
	--text-color: #e7f9f9;
}

.project__desc {
	color: var(--Secondary-color-gray, #6a8383);
	width: 590px;
	font-family: 'Public Sans';
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 1.56;
}

.project-all {
	display: flex;
	align-items: center;
	gap: 26px;
	margin-top: 13px;
}

.project-all__text {
	color: #fff;
	font-family: 'Public Sans';
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 1.56;
}

.project-video {
	position: relative;
	margin-top: 65px;
}

.project-video__img {
	width: 1140px;
	border-radius: 22px;
	max-width: 100%;
	max-height: 544px;
	object-fit: cover;
}

.project-video__play-btn {
	position: absolute;
	top: 213px;
	left: 511px;
	cursor: pointer;
	color: #000;
	transition: 0.5s ease;
}

.project-video:hover .project-video__play-btn {
	color: var(--text-color-black-gray);
}

/* ============= Feature ================= */
.feature {
	margin-top: 140px;
}

.feature__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 20px;
}

.feature__heading {
	--line: none;
}

.feature__desc {
	--width: 547px;
}

.feature__list {
	margin-top: 103px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 45px;
}

.feature-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 350px;
	height: 362px;
	border-radius: 160px;
	border: 1.5px solid #cecece;
	padding: 80px 30px 70px;
	text-align: center;
	transition: 0.5s ease;
}

.feature-card:hover {
	border-color: transparent;
	background: #fff;
	box-shadow: 0 36px 100px 0 rgba(111, 120, 111, 0.2);
	transform: translateY(-59px);
}

.feature-card__title {
	margin-top: 26px;
	color: #152427;
	font-size: 2rem;
	font-weight: 600;
}

.feature-card__desc {
	color: var(--text-color-light-gray, #7d8188);
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.7;
	margin-top: 9px;
}

/* ============ Blog =============== */
.blog {
	margin-top: 184px;
}

.blog__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.blog__title {
	--bottom: 10px;
}

.blog__desc {
	--width: 409px;
}

.blog__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	margin-top: 90px;
}

.blog-card {
	height: 521px;
	width: 360px;
	border-radius: 40px;
	background-color: #fff;
	overflow: hidden;
	padding-right: 14px;
}

.blog-card:hover {
	box-shadow: 0 12px 74px 0 rgba(91, 91, 91, 0.25);
}

.blog-card:hover .blog-card__content {
	padding-left: 30px;
}

.blog-card:hover .blog-card__img {
	transform: scale(1.1);
}

.blog-card,
.blog-card__content,
.blog-card__img {
	transition: 0.5s ease;
}

.blog-card__img-wrap {
	width: 360px;
	height: 317px;
	border-radius: 40px 40px 0 0;
	overflow: hidden;
}

.blog-card__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.blog-card__content {
	padding: 26px 30px 12px 0;
}

.blog-card__badge {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 107px;
	height: 26px;
	border-radius: 20px;
	background: var(--Secondary-color-light-green, #e2eddf);
	color: #000;
	font-size: 1rem;
	font-weight: 500;
}

.blog-card__title {
	color: var(--Primary-color-black-green, #143c3c);
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.67;
	margin-top: 13px;
	width: 297px;
	height: 90px;
}

.blog-card__divider {
	width: 100%;
	height: 1px;
	background: #c4c4c4;
	margin-top: 9px;
}

.blog-card__date {
	display: block;
	margin-top: 16px;
	color: var(--text-color-black-gray, #575d5e);
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.2;
	text-align: right;
}

/* =============== Footer ==================== */
.footer {
	margin-top: 102px;
	padding: 72px 50px;
	background: var(--Primary-color-black-green, #143c3c);
}

.footer__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-contact {
	width: 50%;
}

.footer-contact__title {
	color: var(--text-color-white, #fff);
	font-size: 3.2rem;
	font-weight: 500;
	line-height: 1.5;
}

.footer-contact__form {
	display: flex;
	margin-top: 25px;
}

.footer-contact__input {
	height: 22px;
	width: 312px;
	max-width: 100%;
	padding: 0;
	border: 0;
	outline: none;
	background: transparent;
	color: var(--Secondary-color-gray, #6a8383);
	font-size: 2.2rem;
	font-weight: 600;
}

.footer-contact__input::placeholder {
	color: var(--Secondary-color-gray, #6a8383);
	font-size: 2.2rem;
	font-weight: 600;
}

.footer-contact__btn {
	margin-top: 10px;
	outline: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
}

.footer-contact__divider {
	margin-top: 32px;
	width: 354px;
	height: 1px;
	background: var(--Secondary-color-gray, #6a8383);
}

.footer-contact__social {
	margin-top: 47px;
	display: flex;
	align-items: center;
	gap: 22px;
}

.footer-contact__social-item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 52px;
	height: 52px;
	border: 1px solid #265252;
	border-radius: 50%;
	transition: 0.4s ease;
}

.footer-contact__social-item:hover {
	background-color: #a75325;
	border-color: #a75325;
}

.footer-nav {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 50px;
}

.footer-column__title {
	color: var(--text-color-white, #fff);
	font-family: 'Public Sans';
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 1.56;
	margin-bottom: 6px;
	white-space: nowrap;
}

.footer-list__link {
	color: var(--Secondary-color-gray, #6a8383);
	font-family: 'Public Sans';
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 2.2;
	white-space: nowrap;
	transition: 0.25s ease;
}

.footer-list__link:hover {
	color: var(--text-color-white);
}

.footer__divider {
	margin-top: 45px;
	height: 1px;
	width: 100%;
	background: linear-gradient(
		90deg,
		#143c3c 2.28%,
		#295a5a 55.65%,
		rgba(38, 82, 82, 0) 102.06%
	);
}
